.wallpaper {
  background-image: url("/src/assets/picture/Wallpaper/background.jpg");
  background-position: center; /* Center the image */
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.topic {
  font-size: 20px;
  color: aliceblue;
}
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s;
}
.appbar {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  animation: fadeInDown 1s;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 100px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;

  animation: fadeInUp 1s;
}

.button-container {
  margin-top: 20px;
  animation: fadeIn 2s;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button {
  width: 150px;
  height: 50px;
  display: inline-block;
}
